
html, body {
    font-family: "Skolar Sutta Web", serif, Arial;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

body {
    overflow-y: auto;
}

/*.linked {*/
/*}*/

a:link, a:visited {
    text-decoration: none;
}

.centered, h1, h2, h3 {
    margin-top: 15px;
    margin-bottom: 15px;
    width: 100%;
    text-align: center;
}

h3 {
    margin-bottom: 25px;
}

.spaced {
    margin-bottom: 50px;
}

.top-title {
    text-align: center;
    margin-top: 3px;
    width: 1600px;
    /*twice width as content*/
    color: #f0eee8;
    white-space: nowrap;
}

.top-button {
    border-radius: 10px;
    font-size: 20pt;
    top: 3px;
    margin-right: 3px;
    margin-left: 3px;
    height: 32px;
    width: 32px;
    text-align: center;
    position: relative;
}

/*.top-button a {*/
/*    width: 32px;*/
/*    display: block;*/
/*}*/

.top-button--dark {
    background-color: #df980f;;
    border: 1px #664b16 solid;
}

.top-button--light {
    background-color: #f5b125;
    border: 1px #946404 solid;
    border-color: #584003;
}

.top-button--dark a {
    color: #f8ddc4 !important;
}

.top-button--light a {
    color: #fff6f1 !important;
}

.top-button-link {
    padding-left: 20px;
    padding-top: 20px;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
}

.filter {
    background-size: 20px;
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
    margin-top: 5px;
    margin-left: 6px;
    padding-left: 20px;
    padding-top: 20px;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
}

.filter--dark {
    filter: invert(77%) sepia(100%) hue-rotate(325deg);
}

.filter--light {
    filter: invert(87%) sepia(100%) hue-rotate(325deg);
}

.stretched {
    width: 100%;
}

.listed-info {
    font-size: 30px;
}

.listed-info a {
    display: block;
    width: 100%;
    text-align: center;
    margin-bottom: 15px;
}

.info {
    margin: 15px 15% 25px 15%;
}

.flex-spread {
    display: flex;
    justify-content: space-between;
}

.flexer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-surround {
    display: flex;
    justify-content: space-around;
    margin-left: 25px;
    margin-right: 25px;
}

.boxxy {
    flex: 1 1 0;
    margin: 10px;
    padding-bottom: 15px;
    border: 1px gray dashed;
    border-radius: 2px;
}

.preserved {
    image-rendering: pixelated;
}

.exercise-link-zone:hover > .filler-right > div {
    visibility: visible;
}

li {
    margin-left: 25px;
}

.extend {
    width: 100%;
    /*width: -moz-available;*/
    /*width: -webkit-fill-available;*/
    /*width: stretch;*/
}

.table-area {
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
    align-items: center;
    flex-direction: row;
}

.table-area--dark {
    border-color: #CCC;
}

.table-area--light {
    border-color: black;
}

.filler-left {
    width: 50%;
}

.filler-center {
}

.filler-right {
    width: 50%;
}

.filler-table {
    /*overflow-x: scroll;*/
}

.table-right {
    margin-left: 6px;
    display: grid;
}

.exercise-table {
    border-collapse: collapse;
    border: 1px solid;
    display: inline-table;
}

table, th, td {
    padding: 4px 6px;
    border: 1px solid;
    white-space: nowrap;
}

/*td {*/
/*    padding-left: 4px;*/
/*}*/

.clickable {
    cursor: pointer;
}

/*.clickable:hover {*/
/*    cursor: pointer;*/
/*}*/

.spoilable--dark,
.table-secondary--dark,
.side-options--dark,
.table-input--dark,
.interactive--dark {
    background-color: #202031;
    /*background-color: #241820;*/
}

.spoiler--dark,
.spoiler--dark::selection {
    color: #202031;
}

.spoilable--light,
.table-secondary--light,
.side-options--light,
.table-input--light,
.interactive--light {
    background-color: #f0eeee;
}

.spoiler--light,
.spoiler--light::selection {
    color: #f0eeee;
}

.spoilable--dark:hover .spoiler--dark,
.spoilable--dark:hover .spoiler--dark::selection {
    color: white;
}

.spoilable--light:hover .spoiler--light,
.spoilable--light:hover .spoiler--light::selection {
    color: black;
}

.invisible {
    visibility: hidden;
}

.visible {}

.table-input {
}

.type-field {
    /*width: calc(100% - 4px);*/
}

.correct_cell {
    background-color: lightgreen;
}

.incorrect_cell {
    background-color: lightcoral;
}

.side-options {
    width: fit-content;
    height: fit-content;
    display: inline-table;
    margin-left: 10px;
    margin-bottom: 16px;
    padding-bottom: 1px;
    padding-right: 4px;
}

select, .table-input {
    font-family: "Skolar Sutta Web", serif, Arial;
    font-size: 20px;
    border-radius: 3px;
    padding-left: 2px;
}

.side-button {
    font-family: "Skolar Sutta Web", serif, Arial;
    font-size: 16px;
    border: 1px solid;
    margin-left: 10px;
    border-radius: 3px;
    padding-left: 2px;
    padding-right: 2px;
    padding-bottom: 1px;
}

.check_clicked_class--dark {
    background-color: #4d4445;
}

.check_clicked_class--light {
    background-color: #c6c8d0;
}

.table-secondary {}

.table-input--dark,
.side-options--dark {
    color: white;
    border-style: groove;
    border-color: #CCC;
    border-width: 1px;
}

.table-input--light,
.side-options--light {
    color: black;
    border-style: groove;
    border-color: #333;
    border-width: 1px;
}

.table-secondary--dark {
    color: white;
    border-color: #b39a89;
}

.table-secondary--light {
    color: black;
    border-color: black;
}

button {
    border-color: unset;
}

option {
}

.ref {
    font-size: 12pt;
    display: block;
    font-style: italic;
}

.explanation {
    border-width: 1px;
    border-style: solid;
    padding: 4px;
}

.side-button:hover {
    cursor: pointer;
}

.fade-in--dark {
    color: white;
    border-color: #514743;
    background-color: #16161f;
}

.fade-in--light {
    color: #4e4e4e;
    border-color: #8d9198;
    background-color: #eef1f8;
}

.fade-in--dark:hover {
    color: white;
    border-color: #b39a89;
    background-color: #202031;
}

.fade-in--light:hover {
    color: black;
    border-color: black;
    background-color: #f0eeee;
}

.fade-in {
    border-width: 1px;
    border-style: solid;
    transition: 0.1s ease-in-out;
    cursor: help;
}

@media only screen and (max-width: 800px) {
    .flex-surround {
        display: unset;
    }
    .boxxy {
        margin: 0 10px 25px !important;
    }
}

@media only screen and (max-width: 700px) {
    body {
        overflow-x: scroll !important;
    }
    .main {
        width: 100vw !important;
        padding-left: 10px;
        padding-right: 10px;
    }
    .toolbar-flex > .filler-left {
        justify-content: left;
    }
    .toolbar-flex > .filler-right {
        justify-content: right;
    }
    .top-title {
        font-size: 22px !important;
        top: 37px;
        position: absolute;
        background-color: gray;
        line-height: normal !important;
        width: 100%;
    }
    .table-right {
        margin-top: 15px;
    }
    .table-area {
        flex-direction: column;
    }
    .filler-table {
        overflow-x: auto !important;
        width: auto !important;
        float: left;
        left: 0;
        align-self: normal;
        margin-left: 4px;
        font-size: 17px;
    }
    .check {
        font-size: 20px !important;
        grid-row: 1;
        grid-column: 2;
    }
    .options {
        grid-row: 1;
        grid-column: 1;
    }
    .reset {
        grid-row: 1;
        grid-column: 3;
        float: right;
    }
}

@media only screen and (max-width: 550px) {
    .main {
        width: 100vw !important;
    }
    .top-title {
        font-size: 18px !important;
    }
    .boxxy {
        margin-left: 60px !important;
        margin-right: 60px !important;
    }
}
